[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
packaging = "*"
pygithub = "*"
colorama = "*"
paramiko = "*"
boofuzz = "*"
python3-nmap = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
