[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boofuzz = "*"
colorama = "*"
jinja2 = "*"
requests = "*"
packaging = "*"
paramiko = "*"
pygithub = "*"
python3-nmap = "*"
socket = "*"
ssl = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.14"
