[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bandit = "*"
boofuzz = "*"
colorama = "*"
jinja2 = "*"
packaging = "*"
paramiko = "*"
pyyaml = "*"
pygithub = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
